.middle {
    display: flex;
    justify-content: center;

    &__text {
        font-family: 'Space Mono', monospace;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1.7857142686843872px;
        text-align: left;
        width: 350px;
        margin-right: 30px;
    }
}

.middle1 {
    display: flex;
    justify-content: center;
    margin-top: 200px;

    &__text {
        font-family: 'Space Mono', monospace;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1.7857142686843872px;
        text-align: left;
        width: 350px;
        margin-right: 30px;
    }
}


